/* @media (max-width: 1199px) {
    .categories__title {
        padding: 100px 20px 48px 20px;   
        justify-content: center;    
    }
    .wooden, .stuffed, .wooden h3, .stuffed h3 {
        text-align: center;
        align-items: center;
    }
    .img-stuffed {
        top: -20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img-wooden{
        top: -20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .getit__content {
        gap: 80px;
    }
} */
@media (min-width: 768px) {
    
    .footer__nav {
        display: none;
        background-color: red;
        color: black;
    }
}