
:root {
color: rgba(165, 201, 38, 1);
color: rgba(255, 255, 255, 1);
color: rgba(255, 193, 44, 1);
color: rgba(251, 65, 107, 1);
color: rgba(0, 0, 0, 0.5);
color: rgba(17, 17, 17, 1);
color: rgba(153, 153, 153, 1);
color: rgba(255, 82, 82, 1);
color: rgba(241, 241, 241, 1);
color: rgba(221, 221, 221, 1);
color: rgba(255, 255, 255, 0.5);
color: rgba(143, 179, 32, 1);
color: rgba(248, 248, 248, 1);
}